
# =====================================================
# HUGGING FACE
# =====================================================

huggingface_hub==0.32.6
datasets==3.6.0

# =====================================================
# DATA PROCESSING
# =====================================================

pandas==2.2.2
numpy==2.0.2

# =====================================================
# MACHINE LEARNING
# =====================================================

scikit-learn==1.6.0
xgboost==2.1.4

# =====================================================
# EXPERIMENT TRACKING
# =====================================================

mlflow==3.0.1

# =====================================================
# MODEL SERIALIZATION
# =====================================================

joblib==1.5.0
dill==0.3.8

# =====================================================
# DEPLOYMENT
# =====================================================

streamlit==1.45.1
plotly==6.1.0
